<div class="form-container">
  <div class="row">
    <div class="col-4 offset-4">
      <br>
        <br>
        <h3>We are almost there <%= current_user.first_name %>...</h3>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= resource.errors.full_messages %>

  <div class="form-inputs">

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { autocomplete: "current-password" } %>

    <%= f.input :phone_number, label: "Phone number:" %>



                <div id="user-target">
                <%= render "simple_fields_for_user" %>
              </div>
              <%= link_to "Add more here if you play other instrument",  new_user_instrument_path, remote: true %>
              <br>
              <br>
<%= f.input :profile_image, as: :file, label: "Profile picture:" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
</div>
</div>


