
  <div class="card-jamsession">

    <% if jamsession.image.attached? %>
      <%= cl_image_tag (jamsession.image.key), height: 200, crop: :fill, class: "jamsession-img" %>
    <% else %>
      <%= image_tag 'banner.jpg', height: 200, width: 300, class: "jamsession-img" %>
    <% end %>
    <span class="badge badge-success"><%= jamsession.status %></span>
    <div class="content-card">
      <h4>
      <%= jamsession.location %> | <%= jamsession.starts_at ? jamsession.starts_at.strftime("%A, %b %d") : '' %>
      </h4>
      <h2><%= jamsession.title %></h2>
      <p><%= jamsession.description.slice(0, 150) + "..." %></p>
         <% if current_user.profile_image.attached? %>
          <%= cl_image_tag jamsession.user.profile_image.key, class: 'card-jamsession-user' %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "card-jamsession-user" %>
        <% end %>
     </div>
  </div>


