 <div class="profile-container">
   <div class="row">
     <div class="col-8 offset-2">
<br>
<br>
<br>
<br>

      <div class="card-show-jamsession">
        <% if @jamsession.image.attached? %>
          <%= cl_image_tag (@jamsession.image.key), height: 200, class: "jamsession-img" %>
        <% else %>
          <%= image_tag 'backgo_mfzx8q_2_jfia6a.jpg', height: 200, width: 300, class: "jamsession-img" %>
        <% end %>
        <div class="card-show-jamsession-infos">
          <h4><%= @jamsession.title %></h4>
            <p><%= @jamsession.description %></p>
      <p><strong><i class="fas fa-music"></i> Looking for musicians that can play: <% @jamsession.instruments.to_a.each do |jamsession| %>
                   <%= jamsession.instrument_type %>
                  <% end %> </strong></p>
                  <p><strong><i class="fas fa-map-marker-alt"></i> <%= @jamsession.location %></strong></p>
                <p><strong><i class="fas fa-calendar-day"></i> <%= @jamsession.starts_at %></strong> </p>
                <p><strong><i class="fas fa-users"></i> <%= @jamsession.status %></strong></p>

            <div class="two-columns">
              <div class="first">


                <p><strong><i class="fas fa-user"></i> Hosted by <%= @jamsession.user.first_name  %><%= @jamsession.user.last_name %></strong></p>

              </div>
              <div class="second">
                <% if current_user.profile_image.attached? %>
                  <%= cl_image_tag @jamsession.user.profile_image.key, class: 'card-jamsession-user' %>
                <% else %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "card-jamsession-user" %>
                <% end %>

              </div>

            <div class="button-request">
            <%= simple_form_for [ @jamsession, @request ], url: jamsession_requests_path(@jamsession)  do |f| %>
            <%= f.hidden_field :status, value: "pending" %>
            <%= f.submit "Join this event", class: "btn btn-dark" %>
          <% end %>

        </div>
            </div>

        </div>


      </div>

      <div class="wrap-map-chat">

        <div class="card-other-show-info">
          <div id="map"
            style="width: 100%; height: 700px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>

          <div class="container-card-other-show-info">

            <p><b><%= @jamsession.location %></b></p>
            <p><b><%= @jamsession.status %></b></p>
            <p><b><%= @jamsession.starts_at %></b></p>
            <p><b><%= @jamsession.starts_at %></b></p>
          </div>





        </div>



      <div id="posts" data-jamsession-id="<%= @jamsession.id %>">

        <div class="sticky-chat-title">
        <h3>Wanna post a comment on this event?</h3>
        </div>

        <% @jamsession.posts.each do |post| %>
          <div class="post-container" id="post-<%= post.id %>">
            <i class="author">
              <span><%= post.user.first_name %></span>
              <small><%= post.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </i>
            <p><%= post.content %></p>
            ---------------------------------------------------------
          </div>
        <% end %>
        <%= simple_form_for [ @jamsession, @post ], url: jamsession_posts_path(@jamsession), remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Post ##{@jamsession.title}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
