<% if request.status == "Accepted" %>
  <div class="card-jamsession">    
      <% if request.jam_session.image.attached? %>
        <%= cl_image_tag (request.jam_session.image.key), height: 200, crop: :fill, class: "jamsession-img" %>
      <% else %>
        <%= image_tag 'banner.jpg', height: 200, width: 300, class: "jamsession-img" %>
      <% end %>
      <span class="badge badge-success"><%= request.jam_session.status %></span>
      <div class="content-card">
        <h4><%= request.jam_session.location %> | <%= request.jam_session.starts_at ? request.jam_session.starts_at.strftime("%A, %b %d") : '' %> </h4>
        <h2><%= request.jam_session.title %></h2>
        <p><%= request.jam_session.description.slice(0, 150) + "..." %></p>
        <% if request.jam_session.user.profile_image.attached? %>
        <%= cl_image_tag request.jam_session.user.profile_image.key, class: 'card-jamsession-user avatar-bordered' %>
        <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "card-jamsession-user avatar-bordered" %>
        <% end %>
      </div>  
  </div>
<% end %>
