<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render "bio_container" %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="cards">
        <% current_user.jam_sessions.each do |jamsession| %>
          <%= render "jamsessions/card", jamsession: jamsession %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
    <h4><b>Requests for your jam sessions</b></h4>
           <% @host_user_requests.each do |request| %>
           <div class="card-example">

            <h5><%= request.jam_session %></h5>
            <p>Status <%= request.status %></p>

            <div class="button-position-profile">
            <p><%= button_to "Decline", decline_jamsession_request_path(request.jam_session, request), :class => '.button-position-profile',  method: :put%></p>
            </div>

            <div class="button-position-profile">
              <p><%= button_to "Accept", accept_jamsession_request_path(request.jam_session, request) , method: :put%></p>
            </div>

            </div>
            <% end %>
    </div>
  </div>
</div>