<div class="profile-page-container">
  <div class="row-profile-page">
    <div class="col-8 offset-2">
    <br>
    <br>
    <br>
    <br>
      <div class="profile-avatar">
      <% if current_user.profile_image.attached? %>
            <%= cl_image_tag current_user.profile_image.key,  height: 300, width: 400, class: 'avatar-large' %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
          <% end %>
      </div>

      <div class="profile-info-card">
        <h5><strong>Name:</strong> <%= current_user.first_name %> <%= current_user.last_name %></h5>
        <h5><strong>Phone:</strong> <%= current_user.phone_number %></h5>
        <h5><strong>Email:</strong> <%= current_user.email %></h5>     
      </div>

      <div class="jamsession-requests">
        <div class="my-jamsessions">
        <h4><b>Jam Sessions</b></h4>
           <% current_user.jam_sessions.each do |jamsession| %>
           <div class="card-example">
              <h5><%= jamsession.title %></h5>
            </div>
            <% end %>

        </div>

      

        <div class="my-requests">

        <h4><b>Requests for your jam sessions</b></h4>
           <% @host_user_requests.each do |request| %>
           <div class="card-example">

            <h5><%= request.jam_session %></h5>
            <p>Status <%= request.status %></p>

            <div class="button-position-profile">
            <p><%= button_to "Decline", decline_jamsession_request_path(request.jam_session, request), :class => '.button-position-profile',  method: :put%></p>
            </div>

            <div class="button-position-profile">
              <p><%= button_to "Accept", accept_jamsession_request_path(request.jam_session, request) , method: :put%></p>
            </div>

            </div>
            <% end %>
        </div>
      
      
      </div>

    </div>    
  </div>
</div>