<div class="profile-container">
  <div class="row">
    <div class="col-6 offset-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../app/assets/images/banner.jpg)">
  Profile
</div>

      <div class="container">
        <h4><b><%= current_user.first_name %> <%= current_user.last_name %></b></h4>
      </div>

     <div class="card-example">
        <% if current_user.profile_image.attached? %>
          <%= cl_image_tag current_user.profile_image.key,  height: 100, width:100, class: 'avatar-large' %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
        <% end %>

        <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
        <p>Phone: <%= current_user.phone_number %></p>
        <p>Email: <%= current_user.email %></p>
        <p>Instruments played: <%= current_user.user_instruments %></p>


        <br>
      </div>

      <div class="card-example">

        <h4><b>Requests for your jam sessions</b></h4>
           <% @host_user_requests.each do |request| %>
           <div class="card-example">

            <h5><%= request.jam_session %></h5>
            <p>Status <%= request.status %></p>

            <div class="button-position-profile">
            <p><%= button_to "Decline", decline_jamsession_request_path(request.jam_session, request), :class => '.button-position-profile',  method: :put%></p>
            </div>

            <div class="button-position-profile">
              <p><%= button_to "Accept", accept_jamsession_request_path(request.jam_session, request) , method: :put%></p>
            </div>

            </div>
            <% end %>

      </div>


    </div>
  </div>
</div>

