<nav class="navbar">
<%= link_to root_path class: "logo-left" do %> 

    <h1><i class="fa fa-headphones"></i> Music Connects <span></span></h1>
    <% end %>

  <div class="dropdown show"> 

  <i class="fas fa-plus"></i>
  <button><%= link_to "Create a jam session  ", new_jamsession_path %></button>
  <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#9776; Menu</a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to "Account", account_path, class: "dropdown-item" %>
      <%= link_to "Jam sessions", jamsessions_path, class: "dropdown-item" %>
      <%= link_to "Create a jam session", new_jamsession_path, class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", id: "dropdown-item-strong" %>
    </div>

  </div>
</nav>
